In [1]:
import pandas as pd
data = pd.read_csv("Ecommerce Purchases.csv")

2. Display top 10 rows of the Dataset

In [ ]:
data.head(10)

3. Check last 10 rows of the Dataset

In [ ]:
data.tail(10)

4. Check data type of each column

In [ ]:
data.dtypes

5. Check null value in the Dataset

In [ ]:
data.isnull().sum()

6. How many rows and columns are there in our Dataset?

In [17]:
len(data.columns)

14

In [18]:
# Rows
len(data)

10000

7. Highest, Lowest and Average Purchase Prices

In [24]:
data['Purchase Price'].max()

99.99

In [25]:
data['Purchase Price'].min()

0.0

In [ ]:
data['Purchase Price'].mean()

8. How many people have 'de' as their language

In [37]:
len(data[data['Language'] == 'de'])

1155

9. Job title contains Engineer

In [4]:
data['Job']

0       Scientist, product/process development
1                            Drilling engineer
2                     Customer service manager
3                            Drilling engineer
4                                  Fine artist
                         ...
9995                                Printmaker
9996                           Energy engineer
9997                        Veterinary surgeon
9998                  Local government officer
9999                    Embryologist, clinical
Name: Job, Length: 10000, dtype: object

In [ ]:
data[data['Job'].str.contains('engineer', case = False)][['Address','Email', 'Job']]

In [11]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

10. Find The Email of the person with the following IP Address: 132.207.160.22

In [14]:
data[data['IP Address'] == '132.207.160.22']['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

11. How many People have Mastercard as their Credit Card Provider and made a purchase above 50?

In [28]:
data[(data['CC Provider'] == 'Mastercard') & (data['Purchase Price'] > 50)].count()

Address             405
Lot                 405
AM or PM            405
Browser Info        405
Company             405
Credit Card         405
CC Exp Date         405
CC Security Code    405
CC Provider         405
Email               405
Job                 405
IP Address          405
Language            405
Purchase Price      405
dtype: int64

In [3]:
len(data[(data['CC Provider'] == 'Mastercard') & (data['Purchase Price'] > 50)])

405

In [ ]:
12. Find the email of the person with the following Credit Card Number: m4664825258997302

In [2]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [6]:
data[data['Credit Card'] == 4664825258997302]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

13. How many people purchase during the AM and how many people purchase during PM?

In [9]:
len(data[data['AM or PM'] == 'AM'])

4932

In [10]:
len(data[data['AM or PM'] == 'PM'])

5068

In [11]:
data['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

14. How many people have a credit card that expires in 2020?

In [12]:
data['CC Exp Date']

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

In [13]:
def func():
    count = 0
    for date in data['CC Exp Date']:
        if date.split('/')[1] == '20':
            count += 1
    return count

In [14]:
func()

988

In [17]:
len(data[data['CC Exp Date'].apply(lambda x:x[3:]=='20')])

988

15. What are the top 5 most popular email providers (e.g. gmail.com, yahoo.com, etc...)

In [18]:
list_email = []
for email in data['Email']:
    list_email.append(email.split('@')[1])

In [19]:
data['temp'] = list_email

In [21]:
data['temp'].value_counts()

hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
booker.com                1
woods-allen.biz           1
richards-wilson.com       1
morris-thomas.com         1
wade-garner.com           1
Name: temp, Length: 3416, dtype: int64

In [23]:
data['Email'].apply(lambda x:x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64